body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}
/* navigation */
nav {
    width:300px;
    background-color:rgb(240,240,240);
    border:solid 1px rgb(220,220,220);
    padding:0 12px;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}


nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li {

}

nav li a {
    color:rgb(50,50,50);
    font-weight:700;
}

a.nav-active {
    color:#ccc;
}



hr {
    border:none;
    background-color:rgb(220,220,220);
    height:12px;
    margin-bottom:18px;
}

.small {
  padding: .5em 1em;
}

.active {
  background: rgba(255,255,255,0.3);
}

.portion {

  background-image:  url('http://p1.pichost.me/640/60/1842352.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
.portion.two {
  background-image: url('http://cdn.desktopwallpapers4.me/media/thumbs_400x250/4/31677.jpg');
}
.portion h2 {
  color: white;
  font-weight: normal;
  font-size: 3em;
  padding: 2em 0;
  margin: 0;
  text-shadow: 0 0 10px black;
  background: rgba(0,0,0,0.6);
}

.info {
  background: #FFFAF0;
  color: #777;
  padding: 3em 20%;
}

.button {
  text-align: center;
}
.button a {
  display: inline-block;
  border: 2px solid #777;
  padding: .75em 1.5em;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: .15em;
  word-spacing: .25em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.button a:hover {
  color: #FFFAF0;
  background: #777;
}
footer.info {
  color: #FFFAF0;
  background: #777;
  padding: 0 auto;
  text-align: center;
}

#toTop img {
  width: 50px;
}
#toTop img:hover {
  cursor: pointer;
}
#sidebar {
  position: fixed;
  float: right;
  right: -162px;
  margin-top: 100px;
}
}

#content {
    float:left;
    padding-left:24px;
}
.move {
  top: -60px;
}
.movetext {
  top: -30px;
}
